<form  [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleFormControlInput1">Név</label>
      <select [(ngModel)]="name" class="form-control" id="name" formControlName="name">
        <option *ngFor="let i of this.users" [value]="i.id">
          {{i.userName}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Összeg</label>
      <input type="text" class="form-control" id="amount" formControlName="amount">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Leírás</label>
      <input type="text" class="form-control" id="description" formControlName="description">
    </div>
    <button type="submit" class="btn btn-primary">Küld</button>
  </form>