<div id="mySidenav" class="sidenav">
  <a class="nav-item nav-link" (click)="logout()" *ngIf="user">Logout</a>
  <a class="paddingbottom" *ngIf="user">Csoportok</a>
  <div *ngIf="user">
  <a class="grouppadding" href="group/{{group.groupId}}" *ngFor="let group of groups">- {{group.groupName}}</a>
  </div>
  <div class="row grouppadding" *ngIf="user">
    <a class="col-1">-</a>
    <input class="col-6" [(ngModel)]="groupName">
    <button class="col-1" type="button" (click)="createGroup()">+</button>
  </div>
</div>